<div class="column is-half is-offset-one-quarter">
  <% @posts.each do | post | %>
    <div class="box">
      <% if user_signed_in? %>
        <strong><%= post.title %></strong>
        <small>@<%= post.user.username %></small><br>
        <%= post.body %>
      <% else %>
        <strong><%= post.title %></strong><br>
        ...
      <% end %>
    </div>
  <% end %>
</div>