<section class="section">
  <div class="container">
    <div class="columns">
      <%= render 'feed' %>

      <%= link_to "New Post", new_post_path %><br><br>

      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
      <% end %>
      <br><br>
    </div>
  </div>
</section>

